body {
display: flex;
justify-content: center;
}
.label {
    position: absolute;
    top: 300px;
    height: 50px;
    width: 100px;
    border: 0px;
    background-color: rgba(128, 128, 128, 0.804);
    border-radius: 25px;
}
.input{
    visibility: hidden;
}

.circle {
    top: 2.5px;
    left: 2.5px;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label .circle {
    animation: toggleOn 0.4s linear forwards;
    background-color: black;
}

@keyframes toggleOn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px);
    }
}

@keyframes toggleOff {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}